*
{
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Monocraft";
    font-weight: bold;
    font-size: 12px;
    padding: 0;
}

window#waybar
{
    background: #120e08;
    border: 1px solid #b3976d;
}

#clock, #pulseaudio, #network, #tray, #battery
{
    margin: 4px 4px 4px 0px;
    padding: 1px 4px 1px 4px;
    color: #1b140a;
    background-color: #b3976d;
    border: 2px solid #8c734e;
}

#workspaces
{
    margin: 2px 0px 2px 8px;
}

#workspaces button
{
    all: initial;
    padding: 2px 5px 2px 0px;
    color: #8c734e;
}

#workspaces button.focused
{
    color: #d1b994;
}

#workspaces button.urgent,
#battery.urgent
{
    background-color: #b3976d;
    padding: 1px 4px 1px 4px;
    color: #120e08;
}

#battery.warning
{
    background-color: #b37b6d;
    border: 2px solid #8a5f54;
    padding: 1px 4px 1px 4px;
    color: #120e08;
}

#battery.critical
{
    background-color: #ad4747;
    border: 2px solid #8a3838;
    padding: 1px 4px 1px 4px;
    color: #120e08;
}
